.btn {
  display: block;
  text-decoration: none;
  color: @grey-27;
  border: 2px solid @grey-27;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  margin: 0 auto;

  &:hover {
    color: @white;
    background: @grey-27;
  }

  &:active {
    color: fade(@white, 30);
  }

  &--promo-offer {
    margin-bottom: 35px;
    @media @tablet-widths {
      width: 291px;
      margin: 0 0 59px;
    }
    @media @desktop-widths {
      width: 293px;
      padding-left: 6px;
      margin-bottom: 81px;
    }
  }

  &--reviews-next,
  &--reviews-previous {
    border: 1px solid @grey-93;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 52px;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    @media @tablet-widths {
      border: none;
      width: 88px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--reviews-previous {
    background: url("../img/icon-left-arrow.svg") 38px 14px no-repeat;

    &:hover {
      background: url("../img/icon-left-arrow.svg") 38px 14px no-repeat;
    }

    &:active {
      background: url("../img/icon-left-arrow.svg") 38px 14px no-repeat;
    }
  }

  &--reviews-next {
    background: url("../img/icon-right-arrow.svg") 38px 14px no-repeat;
    margin-left: -4px;

    &:hover {
      background: url("../img/icon-right-arrow.svg") 38px 14px no-repeat;
    }

    &:active {
      background: url("../img/icon-right-arrow.svg") 38px 14px no-repeat;
    }
  }

  &--reviews {
    margin-bottom: 44px;
    @media @tablet-widths {
      order: 2;
      width: 175px;
      align-self: flex-end;
      margin-top: 80px;
      margin-left: 5px;
      margin-bottom: 27px;
    }
  }

  &--modal-content-order {
    font-size: 17px;
    border: none;
    background: @blue-82;
    color: @white;
    padding-top: 12px;
    padding-bottom: 12px;
    @media @tablet-widths {
      width: 349px;
    }
  }

  &--production-video-play {
    position: absolute;
    width: 102px;
    height: 78px;
    background: url("../img/icon-play.svg") 0 0 no-repeat;
    top: 39px;
    left: 80px;
    border: none;
    transition: all 1s;
    @media @tablet-widths {
      top: 194px;
      left: 283px;
    }
    @media @desktop-widths {
      top: 189px;
      left: 298px;
    }

    &:hover {
      background: url("../img/icon-play.svg") 0 0 no-repeat;
      transform: scale(1.2);
    }

    &:active {
      background: url("../img/icon-play.svg") 0 0 no-repeat;
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  &--production-order {
    width: 192px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 33px;
    @media @tablet-widths {
      width: 584px;
      margin-bottom: 46px;
    }
    @media @desktop-widths {
      width: 231px;
      margin-bottom: 0;
      margin-left: 78px;
    }
  }

  &--order-form-send {
    padding-top: 10px;
    padding-bottom: 10px;
    @media @tablet-widths {
      position: relative;
      top: -38px;
      transform: translate(-219px);
      width: 230px;
    }
    @media @desktop-widths {
      transform: translate(-236px);
    }
  }

  &--contacts {
    @media @mobile-widths-only {}
    @media @tablet-widths {
      width: 230px;
      padding-bottom: 11px;
    }
    @media @desktop-widths {
      margin-top: 0;
      margin-left: 175px;
      position: relative;
      top: -105px;
    }
  }
}
