.contacts {
  padding-bottom: 39px;
}

.contacts__header {
  font-weight: bold;
  font-size: 18px;
  line-height: round(30/18, 2);
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__content-email,
.contacts__content-adress {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__content-text-email,
.contacts__content-text-adress
 {
  .not-link;
  margin-left: 30px;
  padding-bottom: 44px;
}

.contacts__content-text-adress {
  width: 146px;
}

.contacts__content-text-email {
  border-bottom: 1px solid @blue-82-1;
  padding-bottom: 0;
}

.contacts__map {
  min-height: 457px;
  background: #eae6dd url(../../img/map-mobile@1x.jpg) 0 0 no-repeat;
  margin-bottom: 39px;
}
