.main-page-catalog {
  .list-style-none;

  li {
    padding: 0;
    margin: 0;
  }
}

.main-page-catalog__item {
  position: relative;
  text-decoration: none;
  color: @white;
  background: @blue-82;
  display: block;
  padding: 21px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: round(24/19, 2);

  &--interior{

      &::after {
      position: absolute;
      top: 10px;
      right: 30px;
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 41px;
      height: 62px;
      background: url("../img/icon-interior.svg") 0 0 no-repeat;
    }
  }

  &--toys {
  background: @blue-76;

    &::after {
      position: absolute;
      top: 10px;
      right: 30px;
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 61px;
      height: 61px;
      background: url("../img/icon-toy.svg") 0 0 no-repeat;
    }
  }
}

.main-page-catalog__item-title {
  display: inline-block;
  vertical-align: top;
  width: 106px;
}
