.main-page-catalog {
  .list-style-none;
  @media @tablet-widths {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 0;
    margin: 0;
    @media @tablet-widths {
      width: 50%;
    }
  }
}

.main-page-catalog__item {
  text-decoration: none;
  color: @white;
  background: @blue-82;
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: round(24/19, 2);
  padding-top: 25.5px;
  padding-bottom: 29.5px;
  @media @tablet-widths {
    font-size: 20px;
    line-height: round(30/20, 2);
    padding-top: 26px;
    position: relative;
    padding-bottom: 33.5px;
    //   &--interior {
    //     &::after {
    //       content: "";
    //       width: 100%;
    //       height: 24px;
    //       background: url("../img/bg-zigzag-fill.svg") -14px 0 no-repeat;
    //       position: absolute;
    //       left: 0;
    //       background-size: auto 23px;
    //       bottom: -15px;
    //     }
    //   }
    //
    //   &--toys {
    //     &::after {
    //       content: "";
    //       width: 100%;
    //       height: 24px;
    //       background: url("../img/bg-zigzag-fill.svg") -1px 0 no-repeat;
    //       position: absolute;
    //       left: 0;
    //       background-size: auto 23px;
    //       bottom: -15px;
    //     }
    //   }
    // }
    // @media @desktop-widths {
    //   &--interior {
    //     &::after {
    //       height: 34px;
    //       background-size: auto 34px;
    //       bottom: -17px;
    //       background-position: -50px 0;
    //     }
    //   }
    //
    //   &--toys {
    //     &::after {
    //       height: 34px;
    //       background-size: auto 34px;
    //       bottom: -17px;
    //     }
    //   }
  }

  &:hover {
    padding-bottom: 34.5px;
    background: @blue-84;
  }

  &:active {
    background: @blue-84;
    color: fade(@white, 30);

    .main-page-catalog__item-wrap::after {
      opacity: 0.3;
    }
  }

  &--toys {
    background: @blue-76;

    &:hover {
      background: @blue-76-1;
    }

    &:active {
      background: @blue-76-1;
    }
  }
}

.main-page-catalog__item-title {
  display: inline-block;
  vertical-align: top;
  width: 106px;
}

.main-page-catalog__wrap {
  	margin-bottom: 26px;
  @media @tablet-widths {
    .container;
  }
}

.main-page-catalog__item-wrap {
  position: relative;
  @media @mobile-widths-only {
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }
  @media @tablet-widths {
    margin: 0 auto;
    width: 100%;
    padding-left: 35px;
    padding-right: 100px;
  }

  &--toys {
    &::after {
      position: absolute;
      top: -4px;
      right: 24px;
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 61px;
      height: 61px;
      background: url("../img/icon-toy.svg") 0 0 no-repeat;
      @media @tablet-widths {
        top: 5px;
        right: 36px;
      }
    }
  }

  &--interior {
    &::after {
      position: absolute;
      top: -2px;
      right: 33px;
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 41px;
      height: 62px;
      background: url("../img/icon-interior.svg") 0 0 no-repeat;
      @media @tablet-widths {
        top: 5px;
        right: 36px;
      }
    }
  }
}

.main-page-catalog__container {

  background: #f9f9f9;
  position: relative;

  &::after {
    @media @tablet-widths {
      content: "";
      width: 100%;
      position: absolute;
      bottom: -13px;
      display: block;
      background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
      background-size: auto 23px;
      height: 23px;
    }
    @media @desktop-widths {
      background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
      background-size: auto 34px;
      height: 34px;
      bottom: -17px;
    }
  }
}
