.page-footer {
  background: @grey-95;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-right: 30px;
  padding-left: 30px;
}

.page-footer__social {
  padding-bottom: 27px;
  border-bottom: 1px solid @grey-90;
}

.page-footer__copyright {
  padding-top: 21px;
  padding-bottom: 23px;
  width: 184px;
  margin: 0 auto;
}

.page-footer__copyright-title {
  font-weight: bold;
  font-size: 19px;
  margin-right: 25px;
}

.page-footer__copyright-link {
  font-size: 0;
  .not-link;
  display: inline-block;
  vertical-align: top;
  background: url(../../img/logo-htmlacademy.svg) 0 0 no-repeat;
  width: 27px;
  height: 34px;
}
