.page-header {
  @media @tablet-widths {
    padding-bottom: 4px;
  }
  @media @desktop-widths {
    padding-bottom: 79px;
  }
}

.page-header__logo-link {
  display: block;
  padding-top: 23px;
  cursor: pointer;
  @media @desktop-widths {
    padding-top: 9px
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  @media @mobile-widths-only {
    padding-bottom: 22px;
    border-bottom: 1px solid @grey-93;
  }

  img {
    margin: 0 auto;
    width: 86px;
    display: block;
    @media @tablet-widths {
      height: 46px;
      width: 113px;
    }
    @media @desktop-widths {
      height: 72px;
      width: 149px;
    }
  }
}

.page-header__wrap {
  .container ();
}

.page-header__free-delivery {
  @media @mobile-widths-only {
    .visually-hidden;
  }
  @media @tablet-widths {
    .font;
    color: @grey-27;
    position: relative;
    top: -45px;
    left: 438px;
  }
  @media @desktop-widths {
    left: 820px;
  }
}

.page-header__main-nav-wrap {
  .container;
  position: relative;
}
