.page-title {
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") center -17px no-repeat;
  color: @black;
  font-size: 27px;
  line-height: round(30/27, 2);
  font-weight: bold;
  padding: 70px 8px 123px;
  margin: 0;
  text-align: center;
  background-size: 575px auto;
  @media @retina {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
  @media @tablet-widths {
    font-size: 43px;
    line-height: round(50/43, 2);
    padding-top: 67px;
    padding-bottom: 373px;
    background-size: 170%;
    background-position: center -82px;
  }
  @media @desktop-widths {
    font-size: 53px;
    line-height: round(57/53, 2);
    padding-bottom: 359px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    @media (min-resolution:144dpi),(min-resolution:1.5dppx){
      background-image: url(../img/hero-desktop@2x.jpg);
    }
  }
}
