.reviews {
  padding-bottom: 22px;
  @media @tablet-widths {
    padding-bottom: 11px;
  }
  @media @desktop-widths {
    padding-bottom: 98px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../img/bg-zigzag-line.svg") 0 0;
    width: 100%;
    height: 7px;
    background-size: auto 7px;
    @media @tablet-widths {
      height: 17px;
      background-size: auto 17px;
    }
    @media @desktop-widths {
      height: 23px;
      background-size: auto 23px;
    }
  }
}

.reviews__wrap {
  .container;
  @media @tablet-widths {
    background:#fff url("../img/review@1x.jpg") 0 0 no-repeat;
    display: flex;
    flex-wrap: wrap;
    background-size: 350px auto;
    @media (min-resolution:144dpi), (min-resolution:1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }
  @media @desktop-widths {
    background-clip: content-box;
    background-size: 34.7%;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

.reviews__header {
  font-weight: bold;
  font-size: 25px;
  line-height: round(30/25, 2);
  margin-bottom: 24px;
  @media @tablet-widths {
    font-size: 43px;
    line-height: round(50/43, 2);
    width: 492px;
    margin-top: 77px;
    margin-left: -5px;
    order: 1;
  }
  @media @desktop-widths {
    font-size: 53px;
    .line-height(57; 53);
    margin-top: 69px;
    margin-left: 171px;
    width: 699px;
  }
}

.reviews__text {
  margin-left: 0;
  margin-right: 0;
  color: @grey-27;
  line-height: 2;
  margin-bottom: 26px;
  @media @tablet-widths {
    font-size: 17px;
    line-height: round(30/17, 2);
    margin-bottom: 58px;
  }
  @media @desktop-widths {
    padding-right: 99px;
    margin-bottom: 39px;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 18px;
  line-height: round(24/18, 2);
  @media @tablet-widths {
    font-size: 17px;
    line-height: round(24/17, 2);
    display: block;
    margin-bottom: 3px;
  }
}

.reviews__author-email {
  color: @grey-27;
  font-size: 18px;
  line-height: round(30/18, 2);
  @media @tablet-widths {
    font-size: 17px;
    line-height: round(30/17, 2);
  }
}

.reviews__slider-controls {
  @media @tablet-widths {
    position: relative;
    top: -89px;
    right: -473px;
  }
  @media @desktop-widths {
    top: -86px;
    right: -681px;
  }
}

.reviews__slider {
  @media @tablet-widths {
    order: 3;
  }
  @media @desktop-widths {
    padding-left: 175px;
    padding-bottom: 0;
  }
}

.reviews__slider-wrap {
  @media @tablet-widths {
    position: relative;
  }
}
