.social-link {
  font-size: 0;
  .not-link;
  display: block;
  margin-right: 40px;
}

.social-link--in {
  background: url(../../img/icon-insta.svg) 0 0 no-repeat;
  width: 22px;
  height: 21px;
}

.social-link--tw {
  background: url(../../img/icon-twitter.svg) 0 0 no-repeat;
  width: 24px;
  height: 20px;
  margin-right: 0;
}

.social-link--fb {
  background: url(../../img/icon-fb.svg) 0 0 no-repeat;
  width: 15px;
  height: 29px;
}
